<!DOCTYPE  html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CMS Project Boilerplate</title>		
	</head>
	<body class="position-relative">
		<div id="app">
			<header>
				{% block navigation %}{% endblock %}
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
			<footer>
				{% block footer %}{% endblock %}
			</footer>
		</div>
	</body>
</html>